<div class="box">
    {{ $pubs := .Site.Data.publications }}
    <ul>
      {{ range $pubs }}

      <div class="box">

      <div class="columns">
        <div class="column">
          <strong>{{ .title }}</strong>
        </div>
      </div>

      <div class="columns is-vcentered">
        <div class="column">
          <em>{{ .author }}</em>
        </div>
        <div class="column">
            <a href="https://doi.org/{{ .doi }}" target="_blank">DOI: {{ .doi }}</a>
        </div>
        <div class="column">
            <small>{{ .note }}</small>
        </div>
        <div class="column">
            <small>{{ slicestr .date 0 4 }}</small>
        </div>
      </div>

      </div>
      {{ end }}
    </ul>
  </div>
  
